# 1. Виртуальные окружения (Зависимости)
# Сюда ставятся все библиотеки, их не должно быть в Git
.venv/
venv/
ENV/
env/

# 2. Файлы конфигурации и СЕКРЕТЫ (Критически важно!)
# Здесь лежат пароли от БД, секретные ключи для JWT-токенов
.env
*.env
.env.secret

# 3. Кэш Python (Автоматически создается при запуске кода)
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# 4. Базы данных (Если используешь локальную SQLite для тестов)
# Если не добавить, Git затрет твою локальную БД при каждом пуше
*.db
*.sqlite3

# 5. Логи и системные файлы
*.log
.DS_Store
Thumbs.db

# 6. Настройки редакторов кода (IDE)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp