:host {
  display: flex;
  justify-content: center; // Центрируем по горизонтали
  align-items: center;     // Центрируем по вертикали
  width: 100%;
  height: 100%;            
}

// Теперь твой контейнер внутри встанет идеально
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  // height: 100% здесь больше не нужен, :host всё сделает за него
}