<div class="profile-page">
  <div class="profile-card">
    <app-avatar [avatarText]="user()?.username?.[0]?.toUpperCase() || '?'" [isOnline]="true"
      [isGroup]="false">
    </app-avatar>

    <h2 class="username">{{ user()?.username || 'Данные отсутствуют' }}</h2>
    <p class="email">{{ user()?.email || 'Почта не указана' }}</p>

    <div class="actions">
      <button class="logout-btn" (click)="onLogout()">
        Выйти из аккаунтa
      </button>

      <button class="logout-all-btn" (click)="onLogoutAllDevices()">
        Выйти со всех устройств
      </button>
    </div>
  </div>
</div>